<div class="prettyform">
  <div class="container newquestion">
    <div class="box">
      <h2 class="center">New Question</h2>
      <br>
        <%= form_for(@question) do |f| %>
          <%= f.text_field :text, placeholder: 'Question',  class: 'form-control' %>
          <%= f.fields_for :answers do |a| %>
            <%= a.text_area :text, placeholder: 'Answer',  class: 'form-control' %>
          <% end %>

          <div class="center">
            <%= f.submit "Submit question", class: 'btn btn-theme btn-xl' %>
          </div>
        <%end%>
      
    </div>
  </div>
</div>
