<div class="prettyform">
  <div class="container newquestion">

    <div class="row">
      <div class="col-sm-7">
        <div class="box">
          <h2 class="center">New Question</h2>
          <br>
            <%= form_for(@question) do |f| %>
              <%= f.text_field :text, placeholder: 'Question',  class: 'form-control' %>
              <%= f.fields_for :answers do |a| %>
                <%= a.text_area :text, placeholder: 'Answer',  class: 'form-control' %>
              <% end %>
        
              <div class="center">
                <%= f.submit "Submit question", class: 'btn btn-theme btn-xl' %>
              </div>
            <%end%>
          
        </div>
      </div>
      <div class="col-sm-5">
        <div class="box">
          <h4 class="center"><b>How to write good questions</b></h4>
          <p>Try to use some of these useful question stems to formulate your questions:<br>
            <ul>
              <li>How would you use ___ to ___?</li>
              <li>What would happen if ___?</li>
              <li>What are risks and benefits of ___?</li>
              <li>How does ___ relate to what you’ve learned before?</li>
              <li>Explain why ___</li>
              <li>Explain how ___</li>
              <li>How does ___ affect ___?</li>
              <li>Why is ___ important?</li>
              <li>What is the difference between ___ and ___?</li>
              <li>How are ___ and ___ similar?</li>
              <li>How does ___ affect ___?</li>
              <li>What do you think causes ___?</li>
          </ul>
          </p>
        </div>

    </div>
  </div>
</div>
