<!-- *****************************************************************************************************************
   HEADERWRAP
   ***************************************************************************************************************** -->
<!-- Header -->
<section class="jumbotron span-12 one-edge-shadow">
  <div class="container">
    <div class="row">
      <h1>Ask<span>Up</span></h1>
      <h3>Learn better, together.</h3>
    </div><br><br>
    <div class="row">
      <div class="col-sm-4  center">
        <div class="row"><%= link_to "New Question", new_question_path, class: "btn btn-theme btn-xl" %></div>
        
      </div>
      <div class="col-sm-8  center"></div>
      
    </div><div class="spacer6"></div><div class="spacer6"></div><div class="spacer6"></div><div class="spacer3"></div>
    <div class="row center"><%= link_to icon('angle-double-down'), '#home-scroll-down', id: 'home-scroll-down' %></div>
  </div>
</section>

  <!-- *****************************************************************************************************************
   SERVICE LOGOS
   ***************************************************************************************************************** -->
   <div id="intro">
    <div class="container">
      <div class="row center">
        <div class="col-md-4">
          <%= icon('pencil') %>
          <h3>Create Questions</h3>
          <p>Great question are designed to encourage deep thinking.  Great questions do not ask for a simple yes/no answer, but instead require a thoughtful explanation.</p>
          <!--<p><br/><a href="#" class="btn btn-theme">More Info</a></p> -->
        </div>
        <div class="col-md-4">
          <%= icon('list-alt') %>
          <h3>Test your Knowledge</h3>
          <p>To remember new material you need to be tested on it— simply re-reading a text or lecture notes do not make you learn or understand the material, it only creates a false sense of familiarity. Testing, which requires you to recall the information, actually helps to enhance the connections in your brain to remember the material best. </p>
          <!-- <p><br/><a href="#" class="btn btn-theme">More Info</a></p> -->
        </div>
        <div class="col-md-4">
          <%= icon('university') %>
          <h3>Study the Right Way</h3>
          <p>Effective learning requires you to reflect on new material, see how it fits in with what you already know, and reconstruct it in your own way. Simultaneously, retrieving the information through testing helps you retain the information.</p>
          <!-- <p><br/><a href="#" class="btn btn-theme">More Info</a></p> -->
        </div>            
      </div>
    </div><!--/container -->
   </div><!--/service -->

    <!-- *****************************************************************************************************************
   TESTIMONIALS
   ***************************************************************************************************************** -->
   <div id="twrap">
    <div class="container center">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
        <%= icon('comment-o') %>
        <p>AskUp uses these proven theories to improve your learning.  It will ask you to generate question and answers based on new material (class lectures, reading assignments, videos, patient encounters in the hospital).  Generating these questions will require you to identify the main points, see how it relates to things you’ve learned previously, and write it in your own words—powerful techniques for learning!  When your classmates participate, you will be tested on the questions they created, further enhancing your learning.</p>
        <h4><br/>Jonathan Hausmann</h4>
        <p>RHEUMATOLOGY FELLOW - HARVARD MEDICAL SCHOOL</p>
        </div>
      </div><!--/row -->
    </div><!--/container -->
   </div><!--/twrap -->

   <!-- *****************************************************************************************************************
   FOOTER
   ***************************************************************************************************************** -->
   <div id="footerwrap">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <h4>About</h4>
          <div class="hline-w"></div>
          <p>AskUp is a joint venture between investigators at Beth Israel Deaconess Medical Center (BIDMC) and engineers in the Teaching and Learning Technologies (TLT) program at Harvard University. </p>
        </div>
        <div class="col-lg-4">
          <h4>Find out More</h4>
          <div class="hline-w"></div>
          <p>To learn more about spaced education learning and the advantages of retrieval studying, check out the book <a href="http://www.amazon.com/Make-It-Stick-Successful-Learning/dp/0674729013" target="_blank"><i>Make it Stick</i> by Peter C. Brown. &nbsp <%= icon('share-square-o') %></a></p>
        </div>
        <div class="col-lg-4">
          <h4>Our Office</h4>
          <div class="hline-w"></div>
          <p>
            125 Mt. Auburn Street room 524<br>
            Cambridge, MA 02138
          </p>
          <p>&copy 2014 Harvard TLT</p>
        </div>
      
      </div><!--/row -->
    </div><!--/container -->
   </div><!--/footerwrap -->