<!DOCTYPE html>
<html>
<head>
  <title>AskUp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
</head>
<body>

  <div class="navbar navbar-inverse navbar-fixed-top one-edge-shadow" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header=">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
            <%= link_to 'AskUp', root_path, class: "navbar-brand float" %>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-left">
            <li><%= link_to 'Questions', questions_path, class: "float" %></li>
            <li><%= link_to 'New Question', new_question_path, class: "float" %></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
           
            <% if user_signed_in? %>
            <li>
              <%= link_to current_user.email, user_path(current_user), class: "float" %>  
            </li>
            <li><%= link_to 'Sign Out', destroy_user_session_path, method: 'delete', id: 'sign_out', class: "float" %></li>
            <% else %>
            
            <li><%= link_to 'Sign In', new_user_session_path, class: "float" %></li>
            <% end %>
          </ul>
          
        </div>
      </div>
    </div>

<div class="spacer_nav"></div>
    <% if flash[:notice] %>
      <div class="alert alert-success center">
        <%= flash[:notice] %> &nbsp
        <a href="#" class="close-alert grow"><%= icon('times-circle') %></a>
      </div>
      <% end %>

      <% if flash[:alert] %>
      <div class="alert alert-danger center">
        <%= flash[:alert] %> &nbsp
        <a href="#" class="close-alert grow"><%= icon('times-circle') %></a>
      </div>
    <% end %>

<%= yield %>


</body>
</html>
